<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>Display Time</title>
    </head>
    <body>
        <script>

        // Ensure that the browser supports the service worker API
        if (navigator.serviceWorker) {
            // Start registration process on every page load
            window.addEventListener('load', () => {
                navigator.serviceWorker
                    // The register function takes as argument
                    // the file path to the worker's file
                    .register('/post_worker.js')
                    .then(reg => console.log('Service Worker Registered'))
                    .catch(swErr => console.log(`Service Worker Installation Error: ${swErr}}`));
                });
        } else {
            alert("BAD")
        }

        </script>
    </body>
</html>