<!DOCTYPE html>
<html>
  <head>
    <title>Unit Locations</title>
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBFldzjXB6fdzgn8RUwsFoAv_Y1l7DZCks&libraries=geometry"></script>
    <script>

        // client state
        var current = null
        var currentNotes = "None"
        var markers = []
        var map = null
        var URL = "http://127.0.0.1:5000"
        var navLine = null
        var currentInfoWindow
        var currentTargetMarker = null
        var currentTargetName = null
        var lastCheckIn = null

        function drawCurrent(latCurr, lonCurr) {
            // Create a marker for the user's location
            if (current != null) current.setMap(null)
            let client = new google.maps.Marker({
                position: {lat: latCurr, lng: lonCurr},
                map: map,
                label: {
                    color: 'LawnGreen',
                    fontWeight: 'bold',
                    text: "{{client.get('name')}}",
                },
                icon: {
                    labelOrigin: new google.maps.Point(0, 0),
                    url: "{{url_for('static', filename=client.get('icon'))}}",
                    origin: new google.maps.Point(0, 0),
                }
            
            });

            infoContent = '<p>Notes: ' + currentNotes + '</p>'

            let infowindow = new google.maps.InfoWindow({
                content: infoContent,
            });
            client.addListener("click", () => {
                if (currentInfoWindow) currentInfoWindow.close()
                infowindow.open({
                    anchor: client,
                    map,
                });
                currentInfoWindow = infowindow
            });

            markers.push(client)
            current = client
        }

        function updateNav() {
            if (currentTargetMarker == null || currentTargetName == null) return
            document.getElementById('navbox').style.display = 'flex';
            document.getElementById('navboxPrompt').innerHTML = 'Navigate to ' + currentTargetName + ':'
            document.getElementById('navboxDistance').innerHTML = Math.round(getDistance(currentTargetMarker.position, current.position)) + 'm'
            document.getElementById('navboxDirection').innerHTML = Math.round(getHeading(current.position, currentTargetMarker.position)) + ' deg';
            if (navLine) navLine.setMap(null);
            navLine = new google.maps.Polyline({
                path: [current.position, currentTargetMarker.position],
                geodesic: true,
                strokeColor: "#FF0000",
                strokeOpacity: 1.0,
                strokeWeight: 2,
            });
            navLine.setMap(map);
        }

        function drawMarkers(markersJson) {
            // Create a marker for the user's location
            for (let i = 0; i < markersJson.length; i++) {
                [success, lat, lon] = LatLongFromMGRSstring(markersJson[i].location)
                if (success == false) continue;
                let marker = new google.maps.Marker({
                    position: {lat: lat, lng: lon},
                    map: map,
                    label: {
                        color: 'white',
                        fontWeight: 'bold',
                        text: markersJson[i].name,
                    },
                    icon: {
                        labelOrigin: new google.maps.Point(0, 0),
                        url: "/static/" + markersJson[i].icon,
                        origin: new google.maps.Point(0, 0),
                    }
                });

                infoContent = 
                    '<p>' + markersJson[i].location + '</p>' +
                    '<p>' + markersJson[i].description + '</p>'

                let infowindow = new google.maps.InfoWindow({
                    content: infoContent,
                });
                marker.addListener("click", () => {
                    if (currentInfoWindow) currentInfoWindow.close()
                    infowindow.open({
                        anchor: marker,
                        map,
                    });
                    currentInfoWindow = infowindow
                    {% if client.get("admin") == true %}
                    // TODO
                    {% else %}
                    currentTargetMarker = marker
                    currentTargetName   = markersJson[i].name
                    updateNav()
                    {% endif %}
                });

                markers.push(marker)
            }
            
        }

        function drawUnits(unitsJson) {
            // Create a marker for the user's location
            for (let i = 0; i < unitsJson.length; i++) {
                if (unitsJson[i].name == current.name) {
                    currentNotes = unitsJson[i].notes
                    continue
                }
                let lat = parseFloat(unitsJson[i].lat)
                let lon = parseFloat(unitsJson[i].lon)
                let marker = new google.maps.Marker({
                    position: {lat: lat, lng: lon},
                    map: map,
                    label: {
                        color: 'white',
                        fontWeight: 'bold',
                        text: unitsJson[i].name,
                    },
                    icon: {
                        labelOrigin: new google.maps.Point(0, 0),
                        url: "/static/" + unitsJson[i].icon,
                        origin: new google.maps.Point(0, 0),
                    }
                });

                infoContent = 
                    '<p>' + MGRSString(lat, lon) + '</p>' +
                    '<p>Last report: ' + unitsJson[i].checkin + '</p>' +
                    '<p>Notes: ' + unitsJson[i].notes + '</p>'

                let infowindow = new google.maps.InfoWindow({
                    content: infoContent,
                });
                marker.addListener("click", () => {
                    if (currentInfoWindow) currentInfoWindow.close()
                    infowindow.open({
                        anchor: marker,
                        map,
                    });
                    currentInfoWindow = infowindow
                    {% if client.get("admin") == true %}
                    document.getElementById('textBox').style.display = 'block';
                    document.getElementById('textBoxTitle').innerHTML = unitsJson[i].name
                    document.getElementById('textBoxPrompt').innerHTML = "Update unit notes:";
                    document.getElementById('textBoxInput').value = unitsJson[i].notes
                    document.getElementById('textBoxSubmit').onclick = function() {
                        fetch(URL + '/update_unit', {
                            method: 'POST',
                            body: JSON.stringify({
                                name: unitsJson[i].name,
                                notes: document.getElementById('textBoxInput').value
                            }),
                            headers: {
                                'Content-Type': 'application/json'
                            }
                        });
                        location.reload()
                    }
                    {% else %}
                    currentTargetMarker = marker
                    currentTargetName   = unitsJson[i].name
                    updateNav()
                    {% endif %}
                });

                markers.push(marker)
            }
            
        }

        function fetchAndDrawMarkers(latCurr, lonCurr) {
            // clear all current markers
            for (let i = 0; i < markers.length; i++) {
                markers[i].setMap(null);
            }
            markers = []

            drawCurrent(latCurr, lonCurr)

            fetch(URL + '/markers', {
                method: 'GET',
                headers: {
                    'Accept': 'application/json'
                }
            }).then((response) => response.json())
              .then((markers) => {
                drawMarkers(markers)
            })

            fetch(URL + '/units', {
                method: 'GET',
                headers: {
                    'Accept': 'application/json'
                }
            }).then((response) => response.json())
              .then((units) => {
                drawUnits(units)
            })

        }
        
        function initMap() {
            // Create a new map centered on the user's current location
            var currentPosition = document.getElementById('currentPosValue')
            navigator.geolocation.getCurrentPosition(function(position) {
                let mapSettings = {
                    zoom: 15,
                    center: {lat: position.coords.latitude, lng: position.coords.longitude},
                    disableDefaultUI: true,
                    mapTypeControl: false,
                    mapTypeId: 'satellite' // Set the map type to satellite

                }
                map = new google.maps.Map(document.getElementById('map'), mapSettings);

                mapSettings.gestureHandling = 'greedy';
                map.setOptions(mapSettings);

                let posBox = document.getElementById('currentPos')
                sendlocation(position.coords.latitude, position.coords.longitude)
                lastCheckIn = Date.now()

                fetchAndDrawMarkers(position.coords.latitude, position.coords.longitude)
                if (currentPosition) currentPosition.innerHTML = MGRSString(position.coords.latitude, position.coords.longitude)
                posBox.style.borderColor = 'darkgreen'
               
                map.addListener("click", () => { 
                    if (currentInfoWindow) currentInfoWindow.close()
                });
            });

            setInterval(function(){ 
                navigator.geolocation.getCurrentPosition(async function(position) {
                    let time = Date.now()
                    if (time - lastCheckIn >= (5 * 60 * 1000)) {
                        let posBox = document.getElementById('currentPos')
                        if (posBox != null) posBox.style.borderColor = 'darkred'

                        let response = await sendlocation(position.coords.latitude, position.coords.longitude)
                        if (response.ok) {
                            fetchAndDrawMarkers(position.coords.latitude, position.coords.longitude)
                            lastCheckIn = Date.now()

                            if (posBox != null) posBox.style.borderColor = 'darkgreen'
                        }
                    }
                    {% if client.get("admin") == false %}
                    currentPosition.innerHTML = MGRSString(position.coords.latitude, position.coords.longitude)
                    drawCurrent(position.coords.latitude, position.coords.longitude);
                    updateNav()
                    {% endif %}
                });  
            }, 5*1000);

            // make sure this isnt erroneously open
            document.getElementById('navbox').style.display = 'none';

        }

        async function sendlocation(lat, lon) {
            response = fetch(URL + '/report', {
                method: 'POST',
                body: JSON.stringify({
                    latitude: lat,
                    longitude: lon
                }),
                headers: {
                    'Content-Type': 'application/json'
                }
            }).then((response)=>{return response});
        }

        function MGRSString (Lat, Long) { 
            if (Lat < -80) return 'Too far South' ; if (Lat > 84) return 'Too far North' ;
            var c = 1 + Math.floor ((Long+180)/6);
            var e = c*6 - 183 ;
            var k = Lat*Math.PI/180;
            var l = Long*Math.PI/180;
            var m = e*Math.PI/180;
            var n = Math.cos (k);
            var o = 0.006739496819936062*Math.pow (n,2);
            var p = 40680631590769/(6356752.314*Math.sqrt(1 + o));
            var q = Math.tan (k);
            var r = q*q;
            var s = (r*r*r) - Math.pow (q,6);
            var t = l - m;
            var u = 1.0 - r + o;
            var v = 5.0 - r + 9*o + 4.0*(o*o);
            var w = 5.0 - 18.0*r + (r*r) + 14.0*o - 58.0*r*o;
            var x = 61.0 - 58.0*r + (r*r) + 270.0*o - 330.0*r*o;
            var y = 61.0 - 479.0*r + 179.0*(r*r) - (r*r*r);
            var z = 1385.0 - 3111.0*r + 543.0*(r*r) - (r*r*r);
            var aa = p*n*t + (p/6.0*Math.pow (n,3)*u*Math.pow (t,3)) + (p/120.0*Math.pow (n,5)*w*Math.pow (t,5)) + (p/5040.0*Math.pow (n,7)*y*Math.pow (t,7));
            var ab = 6367449.14570093*(k - (0.00251882794504*Math.sin (2*k)) + (0.00000264354112*Math.sin (4*k)) - (0.00000000345262*Math.sin (6*k)) + (0.000000000004892*Math.sin (8*k))) + (q/2.0*p*Math.pow (n,2)*Math.pow (t,2)) + (q/24.0*p*Math.pow (n,4)*v*Math.pow (t,4)) + (q/720.0*p*Math.pow (n,6)*x*Math.pow (t,6)) + (q/40320.0*p*Math.pow (n,8)*z*Math.pow (t,8));
            aa = aa*0.9996 + 500000.0;
            ab = ab*0.9996; if (ab < 0.0) ab += 10000000.0;
            var ad = 'CDEFGHJKLMNPQRSTUVWXX'.charAt (Math.floor (Lat/8 + 10));
            var ae = Math.floor (aa/100000);
            var af = ['ABCDEFGH','JKLMNPQR','STUVWXYZ'][(c-1)%3].charAt (ae-1);
            var ag = Math.floor (ab/100000)%20;
            var ah = ['ABCDEFGHJKLMNPQRSTUV','FGHJKLMNPQRSTUVABCDE'][(c-1)%2].charAt (ag);
            function pad (val) {if (val < 10) {val = '0000' + val} else if (val < 100) {val = '000' + val} else if (val < 1000) {val = '00' + val} else if (val < 10000) {val = '0' + val};return val};
            aa = Math.floor (aa%100000); aa = pad (aa);
            ab = Math.floor (ab%100000); ab = pad (ab);
            return c + ad + ' ' + af + ah + ' ' + aa + ' ' + ab;
        };

        function LatLongFromMGRSstring (a) {
            var b = a.trim();
            b = b.match(/\S+/g);
            if (b == null || b.length != 4) return [false,null,null];
            var c = (b[0].length < 3) ? b[0][0] : b[0].slice(0,2);
            var d = (b[0].length < 3) ? b[0][1] : b[0][2];
            var e = (c*6-183)*Math.PI / 180;
            var f = ["ABCDEFGH","JKLMNPQR","STUVWXYZ"][(c-1) % 3].indexOf(b[1][0]) + 1;
            var g = "CDEFGHJKLMNPQRSTUVWXX".indexOf(d);
            var h = ["ABCDEFGHJKLMNPQRSTUV","FGHJKLMNPQRSTUVABCDE"][(c-1) % 2].indexOf(b[1][1]);
            var i = [1.1,2.0,2.8,3.7,4.6,5.5,6.4,7.3,8.2,9.1,0,0.8,1.7,2.6,3.5,4.4,5.3,6.2,7.0,7.9];
            var j = [0,2,2,2,4,4,6,6,8,8,0,0,0,2,2,4,4,6,6,6];
            var k = i[g];
            var l = Number(j[g]) + h / 10;
            if (l < k) l += 2;
            var m = f*100000.0 + Number(b[2]);
            var n = l*1000000 + Number(b[3]);
            m -= 500000.0;
            if (d < 'N') n -= 10000000.0;
            m /= 0.9996; n /= 0.9996;
            var o = n / 6367449.14570093;
            var p = o + (0.0025188266133249035*Math.sin(2.0*o)) + (0.0000037009491206268*Math.sin(4.0*o)) + (0.0000000074477705265*Math.sin(6.0*o)) + (0.0000000000170359940*Math.sin(8.0*o));
            var q = Math.tan(p);
            var r = q*q;
            var s = r*r;
            var t = Math.cos(p);
            var u = 0.006739496819936062*Math.pow(t,2);
            var v = 40680631590769 / (6356752.314*Math.sqrt(1 + u));
            var w = v;
            var x = 1.0 / (w*t); w *= v;
            var y = q / (2.0*w); w *= v;
            var z = 1.0 / (6.0*w*t); w *= v;
            var aa = q / (24.0*w); w *= v;
            var ab = 1.0 / (120.0*w*t); w *= v;
            var ac = q / (720.0*w); w *= v;
            var ad = 1.0 / (5040.0*w*t); w *= v;
            var ae = q / (40320.0*w);
            var af = -1.0-u;
            var ag = -1.0-2*r-u;
            var ah = 5.0 + 3.0*r + 6.0*u-6.0*r*u-3.0*(u*u)-9.0*r*(u*u);
            var ai = 5.0 + 28.0*r + 24.0*s + 6.0*u + 8.0*r*u;
            var aj = -61.0-90.0*r-45.0*s-107.0*u + 162.0*r*u;
            var ak = -61.0-662.0*r-1320.0*s-720.0*(s*r);
            var al = 1385.0 + 3633.0*r + 4095.0*s + 1575*(s*r);
            var lat = p + y*af*(m*m) + aa*ah*Math.pow(m,4) + ac*aj*Math.pow(m,6) + ae*al*Math.pow(m,8);
            var lng = e + x*m + z*ag*Math.pow(m,3) + ab*ai*Math.pow(m,5) + ad*ak*Math.pow(m,7);
            lat = lat*180 / Math.PI;
            lng = lng*180 / Math.PI;
            return [true,lat,lng];
        }

        function getDistance(p1, p2) {
            var rad = function(x) { return x * Math.PI / 180; };
            var R = 6378137; // Earth’s mean radius in meter
            var dLat = rad(p2.lat() - p1.lat());
            var dLong = rad(p2.lng() - p1.lng());
            var a = Math.sin(dLat / 2) * Math.sin(dLat / 2) +
                Math.cos(rad(p1.lat())) * Math.cos(rad(p2.lat())) *
                Math.sin(dLong / 2) * Math.sin(dLong / 2);
            var c = 2 * Math.atan2(Math.sqrt(a), Math.sqrt(1 - a));
            var d = R * c;
            return d; // returns the distance in meter
        };

        function getHeading(from, to) {
            return (google.maps.geometry.spherical.computeHeading(from, to) + 360) % 360
        }

        function closeTextBox() {
            document.getElementById('textBox').style.display = 'none';
        }

        function closeNavBox() {
            document.getElementById('navbox').style.display = 'none';
            navLine.setMap(null);
            currentTargetMarker = null
            currentTargetName   = null
        }
    </script>
    <style>
        html, body, #map {
            font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
            height: 100%;
            margin: 0;
            padding: 0;
        }
        #textBox {
            display: none;
            position: absolute;
            top: 50%;
            right: 20px;
            transform: translateY(-50%);
            background-color: #fff;
            border-radius: 10px;
            box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
            flex-wrap: wrap;
            justify-content: space-between;
            padding: 5px;
            border: 1px solid black;
            z-index: 1;
            width: 300px;
        }

        #textBox textarea {
            width: 100%;
            height: 200px;
        }

        .button {
            padding: 10px 20px;
            border-radius: 5px;
            background-color: #f2f2f2;
            font-size: 16px;
            font-weight: bold;
            border: none;
            cursor: pointer;
            transition: background-color 0.2s ease-in-out;
        }
        #textBox-buttons {
            text-align: center;
            margin-top: 5px;
        }
        #navbox {
            display: none;
            position: absolute;
            padding : 20px;
            padding-top: 10px;
            flex-direction: row;
            font-size: xx-large;
            bottom: 20px;
            left: 50%;
            transform: translateX(-50%);
            width: 90%;
            max-width: 800px;
            background-color: #fff;
            border-radius: 10px;
            box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
            flex-wrap: wrap;
            justify-content: space-between;
            align-items: center;
        }
        #navbox-p {
            flex-basis: calc(33.33% - 10px);
            margin: 0;
            font-weight: bold;
            color: #333;
            text-align: center;
            padding: 10px;
            border-radius: 5px;
            background-color: #f2f2f2;
            transition: background-color 0.2s ease-in-out;
        }
        #navbox-p:last-child {
            margin-right: 0;
        }
        #currentPos {
            display: block;
            position: absolute;
            padding : 5px;
            padding-top: 10px;
            font-size: xx-large;
            top: 20px;
            left: 50%;
            transform: translateX(-50%);
            width: 90%;
            max-width: 600px;
            background-color: #fff;
            border-radius: 10px;
            border-style: solid;
            border-color: darkred;
            box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
            flex-wrap: wrap;
            justify-content: space-between;
            align-items: center;
            text-align: center;
        }


    </style>
    </head>
        <body onload="initMap()">
            <div id="map"></div>
            <div id="textBox">
                <h2 id="textBoxTitle">Title</h2>
                <p id="textBoxPrompt">Add Unit Notes</p>
                <textarea id="textBoxInput"></textarea>
                <div id="textBox-buttons">
                    <button class="button" onclick="closeTextBox()">Close</button>
                    <button class="button" id="textBoxSubmit">Submit</button>
                </div>
            </div>
            {% if client.get("admin") == false %}
            <div id="currentPos">
                <p id="currentPosValue">Current Position</p>
            </div>
            <div id="navbox" class="navigator">
                <p id="navboxPrompt">Add Unit Notes</p>
                <p id="navboxDistance">Add Unit Notes</p>
                <p id="navboxDirection">Add Unit Notes</p>
                <button id="navboxButton" class="button" onclick="closeNavBox()">Close</button>
            </div>
            {% endif %}
        </body>
</html>